* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


form {
    background-color: #121212;
    border: 1px solid #262626;
    padding: 40px;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.title {
    font-family: 'Grand Hotel', cursive;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #1c1c1c;
    color: #fff;
    font-size: 14px;
}

input[type="text"]:focus {
    outline: none;
}

input::placeholder {
    color: #aaa;
}

input[type="submit"] {
    width: 100%;
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #007dc1;
}

#profilepicturepreview {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border: 2px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: border 0.3s ease;
}



#previewlabel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#previewlabel span {
    font-size: 2rem;
    color: #777;
}

#profilepicturepreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.login {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}

.login a {
    color: #0095f6;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}
